@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(BalooDa2-VariableFont_wght.ttf) format('ttf');
  unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
}
